
/*Contact Page Start*/

.contact__container{
    background: #05386b;
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    height: 40rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/*Aside css code start*/
.contact__left{
    background: #4056a1;
    padding: 3rem;
    border-radius: 5rem;
    position: left;
    bottom: 10rem;
}

.aside__image{
    width: 12rem;
    margin-bottom: 2rem;
}




/*Aside css code end*/



/*Contact Page End*/







